{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" contents="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A Walk in the Woods</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    </head>
    <body>
        <canvas id="canvas1"></canvas>
        <img id="playerImage" src="{% static 'player_1.png' %}">
        <img id="backgroundImage" src="{% static 'RainbowWoodsBG.png' %}">
        <img id="enemyBear" src="{% static 'bear_sprite1.png' %}">
        <img id="enemyBat" src="{% static 'bat_sprite.png' %}">
        <img id="enemySpider" src="{% static 'bear_sprite1.png' %}">

        <script src="static/js/script.js"></script>
    </body>
</html>